<main class="font-firago hyphens-manual">

    <!-- Page -->
    <div class="p-6 mx-auto page max-w-2xl print:max-w-a4 md:max-w-a4 md:h-a4 xsm:p-8 sm:p-9 md:p-16 bg-white">

        <!-- Name -->
        <header class="flex items-center mb-8 md:mb-11">
            <div class="initials-container mr-5 text-base leading-none text-white bg-gray-700 font-medium print:bg-black px-3" style="padding-bottom: 0.6875rem; padding-top: 0.6875rem; /*11px*/">
                <div class="initial text-center" style="padding-bottom: 0.1875rem; /*3px*/">α</div>
                <div class="text-center initial">l</div>
                <div class="text-center initial">f</div>
                <div class="text-center initial">α</div>
            </div>
            <h1 class="text-2xl font-semibold text-gray-750 pb-px">
                NEEL ACHARYA
            </h1>
        </header>
        <!-- end Name -->

        <!-- Column -->
        <div class="md:col-count-2 print:col-count-2 col-gap-md  col-fill-auto">

            <section class="mt-8 first:mt-0">

                <!-- To keep in the same column -->
                <div class="break-inside-avoid">

                    <h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-550 print:font-normal">
                        ABOUT ME
                    </h2>

                    <section class="mb-4.5 break-inside-avoid">
                        <header>
                            <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                                Software Engineer
                            </h3>
                            <p class="leading-normal text-md text-gray-650">
                                Since 2016
                            </p>
                        </header>
                        <p class="mt-2.1 text-md text-gray-700 leading-normal">
                            Engineering + Developing Softwares in <a class="hover:bg-gray-150 rounded-lg transition ease-in duration-100" href="https://docs.microsoft.com/en-us/documentation/">Microsoft Practices</a> - .NET / .NET Core, ASP, Angular,
                            MVC, Web API, EF Core. Expert in designing cross-cutting & libraries the other developers use. Strong foundation of OOPS & SOLID Principles. Designing highly scalable systems. Re-Architecting and Re-Inventing systems to support
                            modified requirements
                        </p>
                    </section>

                </div>

                <section class="mb-4.5 break-inside-avoid">
                    <header>
                        <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                            SQL Developer
                        </h3>
                        <p class="leading-normal text-md text-gray-650">
                            Since 2016
                        </p>
                    </header>
                    <p class="mt-2.1 text-md text-gray-700 leading-normal">
                        Designing & Implementing DB. Designing high performance queries / Stored Procedures / Functions.
                    </p>
                </section>

                <section class="mb-4.5 break-inside-avoid">
                    <header>
                        <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                            Angular Developer
                        </h3>
                        <p class="leading-normal text-md text-gray-650">
                            Since 2019
                        </p>
                    </header>
                    <p class="mt-2.1 text-md text-gray-700 leading-normal">
                        Creating Components, Modules, Libraries, Async Services & Directives that are useful for other developers.
                    </p>
                </section>

            </section>

            <section class="mt-8 first:mt-0">

                <!-- To keep in the same column -->
                <div class="break-inside-avoid">

                    <h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-550 print:font-normal">
                        EXPERIENCE
                    </h2>

                    <section class="mb-4.5 break-inside-avoid">
                        <header>
                            <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                                Autofacets
                            </h3>
                            <p class="leading-normal text-md text-gray-650">
                                Nov 2020 – Nov 2021 | Analyst Programmer
                            </p>
                            <p class="leading-normal text-md text-gray-650">
                                July 2019 – Oct 2020 | Sr. Software Developer
                            </p>
                        </header>
                        <ul class="">
                            <li class="mt-2.1 text-md text-gray-700 leading-normal">
                                <span class="absolute -ml-3 sm:-ml-3.2 select-none transform -translate-y-px">›</span> Migrated a whole DMS (Dealer Management System) from MVC to Microservices following cloud native practices in just 8 Months.
                            </li>
                            <li class="mt-2.1 text-md text-gray-700 leading-normal">
                                <span class="absolute -ml-3 sm:-ml-3.2 select-none transform -translate-y-px">›</span> Handled lot of realtime events using SignalR, Event driven Azure Service Bus & Azure functions
                            </li>
                            <li class="mt-2.1 text-md text-gray-700 leading-normal">
                                <span class="absolute -ml-3 sm:-ml-3.2 select-none transform -translate-y-px">›</span> Migrated the logging infra from traditional DB & File logs to Azure Application Insights
                            </li>
                            <li class="mt-2.1 text-md text-gray-700 leading-normal">
                                <span class="absolute -ml-3 sm:-ml-3.2 select-none transform -translate-y-px">›</span> Operating Pre-designed CI/CD pipelines for improved productivity
                            </li>
                        </ul>
                    </section>

                </div>

                <section class="mb-4.5 break-inside-avoid">
                    <header>
                        <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                            TaggPay Inc.
                        </h3>
                        <p class="leading-normal text-md text-gray-650">
                            Oct 2018 – July 2019 | Software Developer
                        </p>
                    </header>
                    <ul class="">

                        <li class="mt-2.1 text-md text-gray-700 leading-normal">
                            <span class="absolute -ml-3 sm:-ml-3.2 select-none transform -translate-y-px">›</span> Independently evaluated and migrated the existing windows based desktop kiosk application to platform-independent web app
                        </li>
                        <li class="mt-2.1 text-md text-gray-700 leading-normal">
                            <span class="absolute -ml-3 sm:-ml-3.2 select-none transform -translate-y-px">›</span> Integrated the check scanner hardware to the web based portal independent of browser
                        </li>
                        <li class="mt-2.1 text-md text-gray-700 leading-normal">
                            <span class="absolute -ml-3 sm:-ml-3.2 select-none transform -translate-y-px">›</span> Also Migrating legacy web portal for admins to cloud native
                        </li>
                    </ul>
                </section>

                <section class="mb-4.5 break-inside-avoid">
                    <header>
                        <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                            L & T Infotech
                        </h3>
                        <p class="leading-normal text-md text-gray-650">
                            Sept 2016 – Oct 2018 | Software Engineer
                        </p>
                    </header>
                    <ul class="">
                        <li class="mt-2.1 text-md text-gray-700 leading-normal">
                            <span class="absolute -ml-3 sm:-ml-3.2 select-none transform -translate-y-px">›</span> Implemented a rule engine to evaluate migration of a legacy application to cloud native. The rule engine eventually was used to win 3 different
                            cloud native migration proposals.
                        </li>
                        <li class="mt-2.1 text-md text-gray-700 leading-normal">
                            <span class="absolute -ml-3 sm:-ml-3.2 select-none transform -translate-y-px">›</span> Developed a Freight Rate calculation microservice for a larger logistic system & integrated it with cybersource payment gateway.
                        </li>
                        <li class="mt-2.1 text-md text-gray-700 leading-normal">
                            <span class="absolute -ml-3 sm:-ml-3.2 select-none transform -translate-y-px">›</span> Rearchitected an document management ERP from classic ASP & sharepoint to cloud ready ASP .Net Core & Azure search
                        </li>
                    </ul>
                </section>

            </section>

            <section class="mt-8 first:mt-0">

                <!-- To keep in the same column -->
                <div class="break-inside-avoid">

                    <h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-550 print:font-normal">
                        EDUCATION
                    </h2>
                </div>

                <section class="mb-4.5 break-inside-avoid">
                    <header>
                        <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                            Lambton College
                        </h3>
                        <p class="leading-normal text-md text-gray-650">
                            2022 – 2023 | PG Diploma in Software & Database Development
                        </p>
                    </header>
                </section>

                <section class="mb-4.5 break-inside-avoid">
                    <header>
                        <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                            LDRP Inst of Tech. & Research - Kadi Sarva Vishwavidyalaya University
                        </h3>
                        <p class="leading-normal text-md text-gray-650">
                            2012 – 2016 | Bachelor’s Degree in Computer Engineering
                        </p>
                    </header>
                </section>
            </section>

            <section class="mt-8 first:mt-0">

                <!-- To keep in the same column -->
                <div class="break-inside-avoid">

                    <h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-550 print:font-normal">
                        SKILLS
                    </h2>

                    <section class="mb-4.5 break-inside-avoid">
                        <header>
                            <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                                C# / .NET Core
                            </h3>
                            <p class="leading-normal text-md text-gray-650">
                                Expert Level
                            </p>
                        </header>
                        <p class="mt-2.1 text-md text-gray-700 leading-normal">
                            Web API, Cross Cutting, Layered Architecture, Library, Back-end, EF Core, ASP, LINQ, Lambda Functions
                        </p>

                        <header class="pt-2">
                            <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                                Angular
                            </h3>
                            <p class="leading-normal text-md text-gray-650">
                                Experienced Level
                            </p>
                        </header>
                        <p class="mt-2.1 text-md text-gray-700 leading-normal">
                            Custom Components, Modularization, cross-cutting components, libraries, i18, observables, async services
                        </p>

                        <header class="pt-2">
                            <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                                MS SQL / TSQL
                            </h3>
                            <p class="leading-normal text-md text-gray-650">
                                Above Average Level
                            </p>
                        </header>
                        <p class="mt-2.1 text-md text-gray-700 leading-normal">
                            High performance queries, SP, Function, High performance Joins, External Tables, DB Design & Implementation, DDL, DQL, DML, DCL, TCL
                        </p>

                        <div class="my-3.2 last:pb-1.5">
                            <ul class="flex flex-wrap text-md leading-relaxed -mr-1.6 -mb-1.6">
                                <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                                    EF Core
                                </li>
                                <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                                    LINQ
                                </li>
                                <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                                    Middlewares
                                </li>
                                <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                                    Architecture
                                </li>
                                <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                                    Cross Cutting
                                </li>
                                <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                                    Web API
                                </li>
                                <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                                    REST
                                </li>
                                <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                                    JSON
                                </li>
                                <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                                    gRPC
                                </li>
                            </ul>
                        </div>
                    </section>

                </div>

            </section>

            <section class="mt-8 first:mt-0">

                <!-- To keep in the same column -->
                <div class="break-inside-avoid">

                    <h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-550 print:font-normal">
                        CONTACT
                    </h2>

                    <section class="mb-4.5 break-inside-avoid">
                        <ul class="list-inside pr-7">
                            <li class="mt-1.5 leading-normal text-gray-700 text-md">
                                <a href="//neelacharya.com" class="group">
                      neelacharya.com
                      <span
                        class="inline-block text-gray-550 print:text-black font-normal group-hover:text-gray-700 transition duration-100 ease-in">↗</span>
                    </a> &nbsp; | &nbsp;
                                <a href="//github.com/Ruling-Alfa" class="group">
                      github.com/Ruling-Alfa
                      <span
                        class="inline-block text-gray-550 print:text-black font-normal group-hover:text-gray-700 transition duration-100 ease-in">↗</span>
                    </a>
                            </li>
                            <li class="mt-1.5 leading-normal text-gray-700 text-md">
                                21 Sheffer Terrace, North York, Ontario - M3J 0A9
                            </li>
                            <li class="mt-1.5 leading-normal text-gray-700 text-md">
                                neel.acharya@gmail.com &nbsp; | &nbsp; (+1) 416 856 2541
                            </li>
                        </ul>
                    </section>

                </div>

            </section>

        </div>
        <!-- end Column -->

        <section class="mb-4.5 break-inside-avoid">
            <header>
                <h3 class="text-lg font-semibold text-gray-700 leading-snugish">
                    Other
                </h3>
            </header>
            <div class="my-3.2 last:pb-1.5">
                <ul class="flex flex-wrap text-md leading-relaxed -mr-1.6 -mb-1.6">
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        C#
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        JSON
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        SQL
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        JavaScript
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        Angular
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        CSS
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        JQuery
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        Angular
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        Visual Studio / VS Code
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        EF / EF Core
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        .NET / .NET Core
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        Post Man
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        SignalR
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        xUnit
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        OpenCover
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        SonarQube
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        PowerShell
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        AGILE / SCRUM
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        Micro Services
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        Restful API
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        Git
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        Azure DevOps
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        Object Oriented Programming
                    </li>
                    <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
                        CI/CD
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <!-- end Page -->
</main>